<nav>
  <h1>OIPPT APP</h1>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/user/profile">Profile</a></li>
    <li><a href="/admin/user">Manage Users</a></li>
    <li><a href="/auth/register">Register</a></li>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
</nav>