<%- include('./layouts/header.ejs') %>  

<h1><span class="goBack" onclick="window.history.back()">←</span> Profile</h1>
<div class="profile">
  <div>
    <p class='title'>ID</p>
    <p class="subtitle">6016 </p>
  </div>
  
  <div>
    <p class='title'>Email/username</p>
    <p class="subtitle">quangvocode</p>
  </div>
  
  <div>
    <p class='title'>Role</p>
    <p class="subtitle">admin</p>
  </div>
  
  <div>
    <p class='title'>User object</p>
    <pre class="subtitle">abcxyz</pre>
  </div>


</div>

<%- include('./layouts/footer.ejs') %> 